/* { color: red; }*/
/*h1 {color:white;background-color:black;}

/* classe con .nomeclasse*/
.orario{color:blue;}

/* id attributo univoco con #nomeID */
/*#titolo{color:green;} */

body
{
    margin:auto;
}

header h1
{
    margin: auto;
}
/*regola per evitare di vedere aspetto del link sottolinweato e colore blu */
header a
{
    text-decoration: none;
    color:white;
}
header
{
    margin: auto;
    padding-top: 15;
    background-color: blue;
    color:white;
    text-align: center;
}
nav
{
    margin: top 15;
    background-color:aqua;
    color:black
}
nav ul
{
    display: inline-flex;
    list-style-type: none; 
}
nav list
{
    display: inline-flex;
    list-style-type: none; 
}
nav a
{
    color:black;
    padding: 5px;
    text-decoration: none;
}
nav a:hover
{
    background-color: rgb(250,250,250);
    text-decoration: red underline !important;
}
nav a:active
{
    background-color: blue;
}
section
{
    padding-left: 30px;
}
footer
{
    padding: 20px;
    background-color:blue;
    font-size: 0.5m;
    color:white;
}